body{
    background-image: url(downl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: pointer;
}
.blade{
    position: relative;
    width: 120px;
   top: 70px;
    left:70px;
  
}
img{
    width: 100%;
}
#nail{
    color: black;
    position: relative;
    left:45px;
    bottom:-50px;
    font-size: 30px;
}
#name{
    position: relative;
    left: 50px;
    top: 55px;
    width:400px;
    height: 50px;
    border-radius: 7px;
    border:1px solid rgb(180, 173, 173);
    margin: 8px 0;
    outline: none;
    box-sizing: border-box;
    padding: px;
    text-align: left;
    
}

#name:hover{
    border: 1.2px solid black;
}
#name::placeholder{
transform: translateX(15px);
font-size: 15px;

}
#pass{
    position: relative;
    left: 50px;
    top: 55px;
    width:400px;
    height: 50px;
    border-radius: 7px;
    border:1px solid rgb(180, 173, 173);
}
#pass::placeholder{
    transform: translateX(15px);
    font-size: 15px;
    }
    #pass:hover{
        border: 1.2px solid black;
    }
    .naruto{
        color:rgb(42, 40, 40);
        position: relative;
        left:330px;
        top:2px;
    }
    .naruto:hover{
        color:red;
        cursor: pointer;
    }
    #in{
     position: relative;
    left: 50px;
    top:10px;
    width: 400px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid white;
    background-color:pink;
    }
    #sakura{
        position: relative;
        left: 220px;
        color: rgb(239, 212, 212);
        bottom: 45px;
    }
    #lee{
        position: relative;
        left:50px;
        bottom:85px;
        color:rgb(133, 125, 125);
        font-size: 18px;
    }
    #victor{
        position: relative;
        color:red;
        left: 230px;
        bottom:123px;
        font-size: 18px;
    }
    #victor:hover{
        border-bottom: 1px solid red;
        padding: 7px;
        width: fit-content;
        
    }
    .leg{
        background: white;
        width:500px;
        position: relative;
        height: 510px;
        left: 450px; 
        border-radius: 30px 30px 30px 30px;
        top:40px;
     
    }
    .ninja{
        border-top:1px solid rgb(220, 212, 212);
        position: relative;
        bottom: 100px;
        width: 400px;
        left:55px;
    }
    #food{
        position: relative;
        bottom: 80px;
        left:50px;
        color: rgb(99, 91, 91);
        font-size: 15px;
        
    }
    
.g1{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73%;
    -webkit-background-clip: text;
    background-clip:text;
    color:transparent;
    -webkit-text-fill-color:transparent;
    padding: 7px;
    font-size: 10px;
    

}
#satoru{
   border: 1px solid rgb(72, 71, 71);
   border-radius: 100px 100px 100px 100px;
   
}
.chair{
    position: relative;
    left: 300px;
    bottom:115px
}
#sharinga{
    border: 1px solid rgb(72, 71, 71);
    border-radius: 100px 100px 100px 100px;
}
.g2{
    font-size: 10px;
    padding: 7px;
    color:rgb(9, 229, 9);
}
.board{
    position: relative;
    left:350px;
    bottom: 142px;

}
#lap{
    position: relative;
    top:60px;
    left:500px;
    font-size: 15px;
    color:black;
}




@media screen and  (max-width:768px){
.leg{
    height: 350px;
    width: 230px;
    position:relative;
    left:1px;
    bottom:30px;
    border-radius: 10px 10px 10px 10px;

}
#nail{
    position: relative;
    font-size: 15px;
    top: 20px;
    
}
#name{
    position: relative;
    left: 20px;
  width: 200px;
  height:35px;
  top: 20px;
   
}
#name:hover{
    border: 1.2px solid black;
}
#name::placeholder{
    transform: translateX(15px);
    font-size: 10px;
    
    }
#pass{
    position: relative;
    left: 20px;
    width: 195px;
    top: 10px;
    height:35px;
}
#pass::placeholder{
    transform: translateX(15px);
    font-size: 10px;
    }
    #pass:hover{
        border: 1.2px solid black;
    }
    .naruto{
        color:rgb(42, 40, 40);
        position: relative;
        left:150px;
        top:-30px;
        font-size: 9px;

    }
    .naruto:hover{
        color:red;
        cursor: pointer;
    }
    #in{
        width: 200px;
        position: relative;
        left:22px;
        border-radius: 8px;
        border: 1px solid white;
        background-color:pink;
        height:35px;
        top: -55px;
    
    }
    #sakura{
        position: relative;
        left: 100px;
        color: rgb(239, 212, 212);
        top: -105px;
    }
    #lee{
        position: relative;
        left:30px;
        top:-150px;
        color:rgb(133, 125, 125);
        font-size: 10px;
    }
    #victor{

        position: relative;
        color:red;
        left: 130px;
        top:-173px;
        font-size: 10px;
    }
    #victor:hover{
        border-bottom: 1px solid red;
        padding: 7px;
        width: fit-content;
        
    }
    body{
        position: relative;
        background-size:742px 625px;
        min-height:100vh ;

    }
    #lap{
         position: relative;
         font-size: 5px;
         right:2px;
         color:red;
    }
    .ninja{
        border-top:1px solid rgb(220, 212, 212);
        position: relative;
        top: -150px;
        width: 175px;
        left:30px;
    }
    #food{
        position: relative;
        top: -120px;
        left:30px;
        color: rgb(99, 91, 91);
        font-size: 10px;
        
    }
    #satoru{
        border: 1px solid rgb(72, 71, 71);
        border-radius: 100px 100px 100px 100px;
        font-size: 5px;
     }
     .chair{
        position: relative;
        left: 130px;
        top:-150px;
        font-size: 5px;
    }
    #sharinga{
        border: 1px solid rgb(72, 71, 71);
        border-radius: 100px 100px 100px 100px;
    }
    .board{
        position: relative;
        left:180px;
        top: -177px;

    }
    #lap{
        position: relative;
        top:60px;
        left:10px;
        font-size: 8px;
        color:black;
    }
    .blade{
        position: relative;
        width: 120px;
       top: 30px;
        left:10px;
      
    }
    img{
        width: 100%;
    }

    .hso405{
position: relative;
left:300px;
font-size: 15px;

    }
}




    











